@font-face {
    font-family: fontDiversifica;
    src: url('fontDiversifica.ttf') format('truetype'), url('fontDiversifica.ttf') format('opentype');;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 15px;
    --color-blue: #3E5A86;
    --color-blue-lt: #A1CCE9;
    --color-gray-bl: #E3EAF4;
    --color-black-bl: #1B1918; 
    --color-gray-dk: #8D9FB5;
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;  
}
body{
    background: var(--color-gray-bl);
    color: var(--color-black-bl);
    box-sizing: border-box;
}
.contact-header{
    display: flex;
    background: var(--color-gray-dk);
    color: #fff;
    justify-content: flex-end;
}
.icon-header{
    color: #fff;
    margin: 5px;
}
.clock{
    position: absolute;
    left: 10px;
}
.btns-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.btn-drop{
    margin: 5px;
}